# Go build artifacts
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Go binaries
*.bin
*.o

# Shell scripts
*.sh

# Dependency directories
vendor/
bin/

# IDE/editor files (optional but common)
*.swp
*.log
*.tmp
.DS_Store
.idea/
.vscode/

# data-files
*.json

# go binaries
cniPluginCloudflare